@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Megrim&family=Noto+Sans+JP:wght@400;900&display=swap');

html, body {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}
body {
	background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('../media/0042_puffy.png');
	background-size: cover;
	margin: 0px;
}
nav {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;

	width: 100%;
	height: 38px;
	overflow: hidden;
	background-color: #333;
	color: white;
}
nav button {
	display: flex;
	gap: 5px;
	align-items: center;
	flex-direction: row;
	justify-content: center;

	background-color: inherit;
	cursor: pointer;
	border: none;
	font-size: 14px;
	color: white;
	padding: 0.6em;

	transition: 0.4s;
}
nav button img {
	height: 18px;
	transition: 0.6s;
}
nav a {
	color: white;
	text-decoration: none;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1 {
	height: 100%;
	font-family: 'Fredoka One';
	font-size: 130px;
	text-align: center;
}
h2 {
	text-align: center;
	text-shadow: 5px 2px #000;
	margin-bottom: 2em;
}
ul {
	font-size: 25px;
	list-style-type: none;
}


.trans {
	position: absolute;
	top: -30px;
	left: -1700px;
	z-index: 3;
}
.box {
	color: white;
	display: none;
	position: absolute;
	left: calc(10% / 2);
	top: calc(15% / 2);
	align-items: center;
	flex-direction: column;
	width: 90%;
	height: 85%;
	z-index: 2;
	border-radius: 10px;
}
.box #skills-full {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}
.box a {
	transition: 0.3s;
}
.box a:link, .box a:visited {
	color: white;
}
.box a:hover {
	color: palegreen;
	cursor: crosshair;
}
.box a:active {
	color: #6050dc;
}
.box img {
	max-height: 20px;
	cursor: help;
}
.lang {
	display: flex;
	justify-content: center;
	align-items: center;
	border: black 1px solid;
	border-radius: 8px;
	width: 80%;
	min-height: 20%;

	transition: 0.6s;
}
.lang p {
	display: none;
}
.lang img {
	max-height: 70px;
}

#shadow {
	background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65));
	filter: blur(8px);
}
#name-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2em;

	background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.6));
	border-radius: 10px;
	padding: 1em;

	min-height: 300px;
	margin: 14em 0 0 0;
	height: 40%;
	width: 70%;
}
#name-box img {
	position: absolute;
	top: 30px;
	left: 170px;
	max-height: 220px;
}
#good {
	background-image: linear-gradient(45deg, rgba(32, 191, 85, 0.8), rgba(1, 186, 239, 0.7));
}
#medium {
	background-image: linear-gradient(25deg, rgba(255, 221, 0, 0.8), rgba(251, 176, 52, 0.7));
}
#starting {
	background-image: linear-gradient(75deg, rgba(185, 19, 114, 0.7), rgba(107, 15, 26, 0.8));
}
#about-full, #skills-full, #projects-full, #contact-full {
	width: 50%;
}
#about {
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../media/tsumugi_shiiba_1.jpg');
	font-size: 22px;
	background-position: center;
}
#skills {
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../media/ninomae_inanis_programming_rust.png');
	background-position: center;
}
#projects {
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../media/togakushi_7.jpg');
	background-position: center;
}
#contact {
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../media/inaba_meguru_4.jpg');
	background-position: center;
}

nav button:hover {
	background-color: #444;
}
nav button:hover > img {
	height: 22px;
	transform: rotate(25deg);
}
#good.lang:hover {
	min-height: 30%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../media/aharen_reina_kr.png');
	background-position: center;
	background-size: 500px;
}
#medium.lang:hover {
	min-height: 30%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../media/shamiko_speaking_javascript.png');
	background-position: center;
	background-size: 500px;
}
#starting.lang:hover {
	min-height: 30%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../media/minagi_koharu_rust.png');
	background-position: center;
	background-size: 550px;
}
.lang:hover p {
	display: block;
}
.lang:hover h4 {
	display: none;
}
